Flask==2.3.2
pymongo==4.5.0
python-telegram-bot==13.15
Pyrogram==2.0.106
TgCrypto==1.2.5
yt-dlp==2023.10.13
requests==2.31.0
aiohttp==3.8.5
numpy
yt-dlp
Pillow
aiohttp
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor[srv]
beautifulsoup4
pyrofork
datetime 
pytz 
requests 
bs4 
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
